
Gera_Frase_Python_Telinha/dist/main.exe
Gera_Frase_Python_Telinha/build/main/main.pkg
Extracao_de_texto_pdf/venv/Lib/site-packages/en_core_web_lg/en_core_web_lg-3.4.1/vocab/vectors
tradutor_e_classificador_de_texto/venv/Lib/site-packages/pt_core_news_lg/pt_core_news_lg-3.4.0/vocab/vectors
tradutor_e_classificador_de_texto/venv/Lib/site-packages/en_core_web_lg/en_core_web_lg-3.4.1/vocab/vectors
TradudorClassificadosTexto/venv/Lib/site-packages/en_core_web_sm/en_core_web_sm-3.4.1/vocab/vectors.cfg
